*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.mypic .picchar img{
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.sainmd {
  color: crimson;
  /*! font-size: ; */
}
.dasffg {
  color: crimson;
}
.prevbttn {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #crimson;
    border: 1px solid crimson;
    border-radius: 20px;
    outline: none;
    padding-left: 590px;
    cursor: pointer;
}
.nextbttn{
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #crimson;
  border: 1px solid crimson;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  padding-left: 600px;

}
.nextdiv {
    padding-left: 630px;
    margin-top: -37px;
}
.potfio {
  font-size: 80px;
  text-align: center;
  color: #0083d2;
}
.dkasdj {
  margin: 25px;
  font-size: 50px;
  font-family: sans-serif ;
  color: #062775b5;
}
.afdsfdsfg {
  color: #fb0133;
}
